<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Validación Finalizada</title>
		<style type="text/css">
			a {
				color: #006;
			}
			a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width: 600px; border:1px solid #CCC;">
			<tr>
				<td>
					<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px;">
						<table width="580">
							<tr>
								<td width="20%" style="padding:5px">
									<img src="http://www.grupoespana.cl/mdv_validate/logo.png"/>
								</td>
								<td style="padding:5px" align="center">
									<h1>ENTREGA DE PROPIEDAD</h1>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td valign="top">
					<div style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 10px;">
						<h3>Estimado(a) Propietario(a),</h3>
						<span style="font-size: 1.2em; font-family: Arial, Helvetica, sans-serif;">
							Nos es grato dirigirnos a usted para confirmarle que la entrega de su propiedad ha sido coordinada para:
							<br><br>
							El próximo <strong>#_fecha_txt_#</strong> de <strong>#_desde_#</strong> a <strong>#_hasta_#</strong> horas.							
							<br /><br />
							#_bienes_#
							<br /><br>
							Para asegurarnos que la entrega sea realizada de una forma efectiva, le recordamos:
							<br><br>
							<ul>
								<li>Asistir como máximo dos personas</li>
								<li>Revisar cada recinto e instalaciones de cocina y baño</li>
								<li>Revisar y anotar marcadores de servicios (electricidad, gas, agua fría, agua caliente, calefacción, según corresponda)</li>
								<li>Si transcurridos 15 minutos de la hora pactada de entrega no pudiera presentarse, procederemos a reprogramar una nueva fecha y horario de entrega</li>								
							</ul>
							<br><br>
							En la propiedad lo estará esperando <strong>#_encargado_#</strong>, encargado de atenderle.<br><br>
							
							Para mayor claridad de los pasos considerados en este proceso, le invitamos a ver un video especialmente preparado para este fin:<br><br>
							
							Enlace: https://www.youtube.com/watch?v=Fwa9ot5gS8M<br><br>
							
							Para cualquier duda o cambio respecto a este correo, le rogamos contactar a nuestra línea de atención a clientes: <strong style="color:#cc0202">800 399 700</strong> o bien escribirnos a marcela.acuna@gespania.cl<br><br>
							
							Le saluda muy cordialmente,
						</span>
						<br><br>
					</div>
				</td>
			</tr>
			<tr>
				<td valign="middle">
					<div style="text-align:left; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 0px 10px; line-height: 20px;">
											
						<p style="margin: 0px; font-size: 1.2em; font-family: Arial, Helvetica, sans-serif;">
							<strong>Marcela Acuña</strong><br>
							Atención al Cliente<br>
							<a href="http://www.grupoespana.cl" target="_blank" style="color:#cc0202">www.grupoespana.cl</a>
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td valign="middle">
					<div style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 10px; border-top: 1px solid #CCCCCC;margin-top:10px;">
						<div style="text-align:center; color:#CCCCCC; font-size:12px;">
							Si ha recibido este e-mail por equivocación, por favor omita su contenido o contáctenos en
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="background-color:#cc0202; color: #FFFFFF; text-align:center;font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; padding: 5px 10px;">
						<a href="http://www.grupoespana.cl/contacto.php" target="_blank" title="Grupo España" style="color:#FFF;text-decoration: none;">Inmobiliaria Grupo España</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="text-align: center; font-size: 11px; border-top: 1px solid #cc0202; font-family: Arial, Helvetica, sans-serif;	padding-top: 10px;padding-bottom: 10px; color:#CCCCCC">
						E-mail generado automáticamente mediante el Servicio Automático Web de <a href="http://www.grupoespana.cl">Inmobiliaria Grupo España</a>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>